.breadcrumbs {
    display: inline-block;
    padding-left: 18px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li a, .breadcrumbs li a:visited {
    display: inline-block;
    float: left;
    color: #767676;
    font-size: 12px;
}

.breadcrumbs li a:hover {
    text-decoration: none;
}

.breadcrumbs li a:hover .hvr,.breadcrumbs li a:focus .hvr {
    text-decoration: underline;
}


.breadcrumbs li .carat {
    padding: 0 5px;
}

.breadcrumbs li a:hover .carat {
    text-decoration: none;
}

.breadcrumbs li.lstchild .carat {
    display: none;
}