.footnotes{padding: 20px 0 45px 0; font-size: 12px;}
.footnotes a, .footnotes_submit a{color: #007BDA;}
.footnotes a:hover, .footnotes_submit a:hover,.footnotes a:focus, .footnotes_submit a:focus{text-decoration: underline;}
.footnotes a:visited, .footnotes_submit a:visited{color: #822980;}
.footnotes p{margin-bottom: 15px; color: #767676; line-height: 15px; font-size: 1.1em;}
.footnotes p span{display: inline-block; width: 20px; margin: 0 5px 0 -25px; text-align: right;}

/*Footnotes Submit*/
.footnotes_submit .footnotes_submit_text{display: inline-block; color: #767676; font-size: 12px; padding-top: 5px;float:left; text-align:right}
.footnotes_submit .button{float: left; margin: 0 0 0 20px;}

/*Footnotes numbering*/
.footnotes-container{width: 460px;float: left;}
.footnotes-h1 {font-size: 60px; line-height: 60px}
.footnotes-container-blue{width: 160px; float: left; color: #FFFFFF; background-color: #0196D6; padding: 5px; margin-left: 20px;}
.footnotes-h2{font-size: 90px; line-height: 72px; margin-bottom: 5px;}
.footnotes-p{font-size: 24px; font-weight: bold; margin: 0;}
sup{font-size: 10px; line-height: 10px; font-weight: normal}

a.button, a.button:hover,a.button:focus  {
    color: #FFFFFF;
    text-decoration: none;
}

.footnotes-container-blue sup{font-weight:bold}