/* Inputs */
.form-input, .form-input-disabled, .form-input-error,
.form-textarea, .form-textarea.disabled, .form-textarea.error{
    display: inline-block;
    font-family:"HPSimplified",Arial;
    height: 32px;
    line-height: 22px;
    _height: 36px;
    padding: 0 8px;
    font-size: 16px;
    color: #767676;
    background: #fff;
    border: 2px solid #949494;
    vertical-align: top;
    /*NOTE: do not set middle in this container (IE bugs will be)*/
}

.form-textarea, .form-textarea.disabled, .form-textarea.error{
    height: 66px;
    font-family:"HPSimplified",Arial;
    padding: 10px;
    border: 2px #949494 solid;
    overflow-y: visible;
}

*html .form-textarea {
    height: 90px;
}

.pre-active{color: #767676; border-color:#949494;}
.form-input:hover, .form-textarea:hover,
.form-input:focus, .form-textarea:focus{color: #000; border-color: #363636}
.form-input-disabled, .form-textarea.disabled{color: #666; background: #e5e5e5; border-color: #949494}
.form-input-error, .form-textarea.error{border-color: #ff0000; color:#ff0000}

/* Slim Inputs */
.input-slim{font-size: 14px; height: 22px; _height: 26px; line-height: 18px; padding: 0 8px;}

.form-textarea.resizeoff{resize: none;}
.form-textarea.scroll-y{overflow-y: scroll}

.form-textarea.auto-resize{overflow:  hidden;}

.form-error {
    background: none repeat scroll 0 0 #FFF;
    margin: 20px 0 20px;
    padding: 20px 20px 10px;
}


.form-error li {
    color: #FF0000;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}