.ui-section {
    margin: 0;
    padding: 0;
}

.overlay_popup {
    padding-top: 0;
}

.overlay_popup .popup_close {
    background: url("../../i/common/s-21px-hpe.png") no-repeat scroll 0 -812px transparent;
 }
 .steps_wrapper {
    height: 60px;
    
}

.step_descriptor_blue .arrow {
    background: none;
}
.step_descriptor .circle {
    display: block;
    float:left;
}

.item_label {
    display: block;
    margin-left: 30px;
    width: 135px
}



.multioverlay .bkg-blue{
background-color: #0196D6;
padding:10px 40px;
margin-top: 1px;

}

.multioverlay .bkg-blue .title{
color: #ffffff;
font-size: 24px;
    font-weight: bold;

}

.multioverlay .bkg-blue .desc{
color: #ffffff;
font-size: 18px;

}
.multioverlay .overlay-content{
  padding: 20px 40px;

}

.multioverlay .txt-rgt{
  text-align: right;
}


.multioverlay .button.inline{
margin-left: 20px;

}
.multioverlay .button.inline.critical{
margin-left: 0px;

}
.multioverlay .inputs-cont{
margin-bottom: 40px;

}
.multioverlay .link{
font-size: 16px;
}

.multioverlay .js_prev{
  display: none;
}
.multioverlay .lft {
    padding: 0;
}
.multioverlay .pd-left {
    padding-left: 40px;
}

.multioverlay .form-input,.multioverlay .form-input-error,.multioverlay .dd_formSelection {
margin-bottom: 30px;

}

.multioverlay .form-input.hidden, .multioverlay .form-input-error.hidden{
  margin-bottom: 0px;
  display:none;
}


.multioverlay .typography_secondary{
  margin-bottom: 5px;
}

.multioverlay .rdbut{
  padding-right: 10px;
}

.multioverlay .sub-txt{
color:#767676;
font-size: 14px;

}
.multioverlay .pag_forward {
    margin-right: 0px;
}

.multioverlay .inputs-cont{
height:427px;

}
 .multioverlay .msg_reset{
  border: solid 1px #000000;

 }
.multioverlay #msg_reset{
  height:100%;
  width:100%;
  position: absolute;
  background-color: tranparent;
  left: 0px;
  top: 0px;


}

 .multioverlay .msg_reset{
  height:150px;
  width:450px;
  padding: 20px;
  position: absolute;
  border:solid 1px #000000;
  background-color: white;
  left: 170px;
top: 300px;

 }

.multioverlay .mb10{
margin-bottom: 10px;

}
.multioverlay .mt30{
margin-top: 30px;

}

.multioverlay .close_msg{
      background: url("../../i/common/s-21px-hpe.png") no-repeat scroll 0 -1024px transparent;
    display: inline-block;
    height: 17px;
    width: 17px;
}

.js_next{
  display: none;
}
.multioverlay .button.js_next{
display:inline-block;

}
.js_step_trigger{
margin-right: 10px;

}
            .ui-section h4{padding-top: 20px; text-decoration: underline;}
      .form-textarea{width: 150px;}
            .red{color:#f05332; margin-left: 4px; font-weight: bold}