/*
Copyright (c) 2011, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.9.0
*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}

/* clear fix*/
.clf:after {clear: both; content: '.'; display: block; height: 0; line-height: 0; visibility: hidden;}
.clf {display: inline-block;display: block\9;width: 100%;}
html[xmlns] .clf {display: block;}
* html .clf{height: 1%;}

/* links*/
a, a:link{color:#007dba;text-decoration:none}
/*a:link{color:#007dba;text-decoration:none}  This style is giving us conflict with the header footer, our pages Alex Sandoval,
please correct you HF styles, current properties is correct and should be by default - Alexander Buryakov*/
a:visited{color:#822980} /*do not change order of selectors*/
a:hover,
a:focus{text-decoration:underline}
a,a:active{text-decoration:none}