.wait_class {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
}

.wait_class div {
    background: url(../../i/common/i-pre-sm-hpe.gif) no-repeat scroll 0 0 transparent;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45%;
    width: 32px;
}


.large_image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
}

.large_image div {
    background: url(../../i/common/i-pre-lg-hpe.gif) no-repeat scroll 0 0 transparent;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45%;
    width: 60px;
}

.wait_class.spooler_dark div {
    background: url(../../i/common/i-pre-sm-hpe.gif) no-repeat scroll 0 0 transparent;
}

.wait_class.active,
.large_image.active{
    display: block;
}
.layer {
    background-color: white;
    display: none;
    opacity: 0.7;
    filter:alpha(opacity=70);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.layer.active {
    display: block;
}

.spooler_wrapper_650 {
	position: absolute; width: 650px; height: 80px
}