.table_sortable table {
    background-color: #fff;
    border: 2px #ccc solid;
}

.table_sortable a:hover,.table_sortable a:focus {text-decoration: underline}

.table_sortable th {
    background-color: #767676;
    font-size: 1.4em;
    line-height: 18px;
    color: #fff;
    color: #fff;
    vertical-align: bottom;
    border-left: 1px #fff solid;
    padding: 12px 20px;
}

.table_sortable th a.col_header { color: #fff }

.table_sortable td {
    background-color: #fff;
    font-size: 1.4em;
    line-height: 18px;
    color: #000;
    vertical-align: top;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    padding: 12px 20px;
}

.table_sortable td a:visited {
    color: #822980;
}

.table_sortable .last_td {
    border-bottom: 1px #ccc solid;
    padding: 5px 10px;
}

.table_sortable .dr_fnd {
    background-color: #fff;
    font-size: 1.4px;
    line-height: 18px;
    color: #000;
}

.table_sortable .dr_fnd a:hover ,.table_sortable .dr_fnd a:focus{
    background-color: #007DBA;
    color: #fff;
}

.table_sortable thead .sortedASC, .table_sortable thead .sortedDESC {background-color: #5a5a5a}
.table_sortable thead .sortedASC a, thead .sortedDESC .sortedASC a {background-position: left bottom}
.table_sortable thead .sortedASC a:hover ,.table_sortable thead .sortedASC a:focus{background-position: left -37px}
.table_sortable thead .sortedDESC .sortedASC a:hover,.table_sortable thead .sortedDESC .sortedASC a:focus {background-position: left -37px}
.table_sortable thead .sortedDESC a {background-position: left -37px}
.table_sortable thead .sortedDESC a:hover,.table_sortable thead .sortedDESC a:focus {background-position: left bottom}

.table_sortable .icn_srt {
    float: right;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

*html .table_sortable .icn_srt { width: 13px; line-height: 15px}

.table_sortable .numeric {text-align: right}
.table_sortable th, .table_sortable td {text-align: left;}
.table_sortable .last_td {text-align: right;}
.table_sortable tbody {border: none}

.table_sortable .dfinder {direction: rtl; text-align: right}

.table_sortable .df_list {
    direction: rtl;
    display: none;
    position: absolute;
    text-align: right;
    margin-top: -26px;
    margin-left: -98px;
    border-right: 2px #5a5a5a solid;
}

.table_sortable .df_list .df_fst { margin-top: 24px !important; }
.table_sortable .dd_upside .df_fst { margin-top: -125px !important; }
*html .table_sortable .df_list .df_fst { margin-top: 23px; }

.table_sortable .df_list .df_li {
    text-align: left;
}

.table_sortable .df_list .df_li a {
    background-color: #fff;
    display: inline-block;
    color: #000;
    width: 100%;
    text-decoration: none;
    padding: 6px 8px;
    border-left: 2px #5a5a5a solid;
    border-bottom: 1px #ccc solid;
}

.table_sortable .df_list .df_lst a {
    border-bottom: 2px #5a5a5a solid;
}

.table_sortable .df_list .df_li a:hover,.table_sortable .df_list .df_li a:focus {
    background-color: #007DBA;
    color: #fff;
    z-index: 2;
}

.table_sortable .df_list .df_fst a {
    border-top: 2px #5a5a5a solid;
}

.table_sortable .df_list_top {
    display: inline-block;
    position: absolute;
    z-index: 2;
}

*:first-child+html .table_sortable .df_list {margin-left: 0}
*:first-child+html .table_sortable .df_list_top {right:0}
*:first-child+html .table_sortable .df_list .df_li {}
*:first-child+html .table_sortable .df_list .df_li a {display: block; width: 120px}


.table_sortable .dd_upside {border-right:0px }
.table_sortable .dd_upside li{border-right: 2px #5a5a5a solid;}
/*.table_sortable .dd_upside .df_list_top{position:relative;top:-2px}*/
.table_sortable .dd_upside .df_list_top a,
.table_sortable .dd_upside .df_list_top a:hover,.table_sortable .dd_upside .df_list_top a:focus{
   border-top-color:white;
   border-bottom: 2px #5a5a5a solid;
}

.table_sortable .dd_list {
    display: none;
    position: absolute;
}

.table_sortable .dr_fnd a {
    display: block;
    background: url(../../i/patterns/s-table-icons-hpe.png) center top no-repeat transparent;
    _background-image:  url(../../i/patterns/s-table-icons-ie6-hpe.gif);
}

.table_sortable .dd_list_active {display: block}
.table_sortable .dd_act {direction: rtl; text-align: right;}
.table_sortable .dd_act .dd_item a {
    display: block;
    background: none;
    font-size: 12px;
    text-decoration: none;
    padding: 8px 10px
}

.sort_col .col_header {
    display: inline-block;
    float: left;
}

.icn_srt a {
    direction: rtl;
    display: inline-block;
    background-image: url(../../i/patterns/s-table-icons-hpe.png) !important;
    _background-image:  url(../../i/patterns/s-table-icons-ie6-hpe.gif) !important;
    background-repeat: no-repeat;
    background-position: left -22px;
    background-color: transparent;
    width: 15px;
    height: 15px;
    padding: 0 !important;
}

*html .icn_srt a {width: 13px; height: 13px;}

.icn_srt a:hover ,.icn_srt a:focus{
    background-position: left -37px;
    text-decoration: none !important
}

.icn_srt {
    display: inline-block;
    background-color: transparent;
    text-align: right;
}

.table_sortable .df_arr_wht, .table_sortable .df_arr_wht_u {
    background-image: url(../../i/patterns/s-table-icons-hpe.png);
    _background-image:  url(../../i/patterns/s-table-icons-ie6-hpe.gif);
    background-position: left top;
    background-repeat: no-repeat;
    width: 53px;
    height: 22px;
}

.table_sortable td.sorted {
    background-color: #f2f2f2;
}

*html .table_sortable .df_arr_wht, *html .table_sortable .df_arr_wht_u {
    width: 52px;
    height: 21px;
}

.table_sortable .dr_fnd .df_arr_wht {border: 2px #fff solid; background-color: #fff}
.table_sortable .dr_fnd .df_arr_wht:hover,.table_sortable .dr_fnd .df_arr_wht:focus {background-color: #fff; border: 2px #5a5a5a solid}
.table_sortable .dr_fnd .df_arr_wht_u, .table_sortable .dr_fnd .df_arr_wht_u:hover, .table_sortable .dr_fnd .df_arr_wht_u:focus {
    background-color: #fff;
    border-top: 2px #5a5a5a solid;
    border-left: 2px #5a5a5a solid;
    border-bottom: 2px #fff solid
}
*html .table_sortable .dr_fnd .df_arr_wht_u, *html .table_sortable .dr_fnd .df_arr_wht_u:hover, *html .table_sortable .dr_fnd .df_arr_wht_u:focus {
    border-right: 1px #5a5a5a solid;
}
/********************************************************************************/
*html .table_sortable .df_list {
    margin-left: 0;
    z-index: 2;
    width: 130px;
}

/* Static table*/
.table_sortable .table_static a{
    font-size: 16px;
    line-height: 22px;
}

.table_sortable .table_static p{
    font-size: 14px;
    line-height: 18px;
    color: #5A5A5A;
    margin-bottom: 0;
}

.table_sortable .table_static th {
    border-left: 0;
    padding: 12px 20px 12px 1px;
}

.table_sortable .table_static th.th_fst {
    border-left: 0;
    padding: 12px 20px;
}

.table_sortable .table_static td {
    border-right: 0;
    width:82px;
    padding: 12px 20px 12px 1px;
}

.table_sortable .table_static td.td_fst {
    width: 388px;
    padding: 12px 20px;
}