.tabs{
    border-bottom: 1px solid #CCCCCC;
}

.tabs .clf a, .tabs .clf a:link  {
    background-color: #fff;
    color: #5A5A5A;
    padding: 5px 0px 8px;
    font-size: 18px;
    line-height: 36px;
    float: left;
}

.tabs .clf  .tab_label{
    float: left;
    line-height: 22px;
    margin-bottom: 0px; /* typography fix */
}

.tabs .clf .current a {
    color: #000;
    line-height: 36px;
}

.tabs .clf .disabled a,
.tabs .clf .disabled a:hover,
.tabs .clf .disabled a:hover .tab_label{
    color: #ccc;
    cursor: default;
    text-decoration: none;
}

.tabs .clf .tab_trigger{
    display: block;
    float: left;
    margin: 0px 20px;
    border-bottom: 4px solid #FFFFFF;
}

.tabs .clf .current a:hover,
.tabs .clf .current a:hover .tab_label{
   color: #000000;
   text-decoration: none;
}

.tabs .clf .current{
    border-bottom: 4px solid #0096D5;
}