.tabs{
    border-bottom: 1px solid #000;
}
.tabs .clf a, .tabs .clf a:link  {
    background-color: #fff;
    border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    color: #5A5A5A;
    padding: 5px 20px 7px;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    float: left;
}

.tabs .clf  .tab_label{
    float: left;
    line-height: 22px;
}

.tabs .clf a:hover .tab_label,.tabs .clf a:focus .tab_label{
    color: #5A5A5A;
    text-decoration: underline;
}

.tabs .clf .tab_suporting_text{
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5A5A5A;
    float: left;
    clear: left;
}

.tabs .clf  a:hover .tab_suporting_text,
.tabs .clf  a:focus .tab_suporting_text,
.tabs .clf  a:active .tab_suporting_text{
    color: #5A5A5A;
    text-decoration: none;
}

.tabs .clf .current a {
    color: #000;
    position: relative;
    bottom: -1px;
    line-height: 36px;
    padding: 3px 20px 8px;
}

.tabs .clf .disabled a,
.tabs .clf .disabled a:hover,
.tabs .clf .disabled a:hover .tab_label,
.tabs .clf .disabled a:hover .tab_suporting_text{
    color: #ccc;
    cursor: default;
    text-decoration: none;
}

.tabs .clf .tab_trigger{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display: block;
    float: left;
}

.tabs .clf .current a:hover,
.tabs .clf .current a:hover .tab_label{
   color: #000000;
   text-decoration: none;
}

.tabs .clf .current a:hover .tab_suporting_text{
   color: #5A5A5A;
   text-decoration: none;
}

.tabs .clf .current{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: none;
    border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
}