.body{font-family: 'HPSimplified', Arial}


a, p, span{font-size: inherit; line-height: inherit}

.italic{font-style: italic}
.emphraized{font-weight: bold}
.meta, .disabled{color:#767676}
.error{color:#FF0000}

.meta a,a.meta{color:#767676}
.meta a:visited, a.meta:visited, .meta a.visited{color:#822980}

/*Right rail and secondary content*/
.typography_right_rail,
.typography_secondary{font-size: 14px; line-height:18px}
.typography_secondary{color:#5a5a5a}
.typography_right_rail h3, h3.typography_right_rail,
.typography_right_rail .fontH3{font-size:18px; line-height:22px; color:#000}
/*start IE6,7 fixes for inherit*/
.typography_right_rail p,
.typography_secondary p{*font-size: 14px; *line-height:18px}
/*end IE6,7 fixes for inherit*/


/*Main content*/
.typography_main{font-size:16px; line-height:22px}
.typography_main h2, h2.typography_main,
.typography_main .fontH2{font-size:18px; line-height:22px; color:#000}
/*start IE6,7 fixes for inherit*/
.typography_main p, p{*font-size: 16px; *line-height:22px}
/*end IE6,7 fixes for inherit*/


/*breadcrumbs*/
.breadcrumbs, .breadcrumbs a,
a.breadcrumbs{font-size: 12px; line-height:15px; color: #767676}
.breadcrumbs a:visited, a.breadcrumbs:visited{color:#822980}

/*footnote*/
.footnote{font-size: 12px; line-height:15px; color:#5a5a5a}
.footnote a:visited, a.footnote:visited{color:#822980}
/*start IE6,7 fixes for inherit*/
.footnote p{*font-size: 12px; *line-height:15px}
/*end IE6,7 fixes for inherit*/

/*Bulleted List*/
.bulleted_list{font-size: 16px; line-height: 22px;}
.bulleted_list ul, ul.bulleted_list{margin-bottom: 28px;}
.bulleted_list li{list-style: disc inside; margin-bottom: 8px;}

/*NOTE: fontH1 - font like h1, ...*/
/*NOTE: fontH4 = fontH5 + bold*/
/*NOTE: .default styles, we need them as we have situations where in typography_main need .fontH2 as default */
h1, .fontH1, h2, .fontH2, h3, .fontH3, .fontH4, .fontH6, .fontH7, .fontHH1{font-weight: bold}
.fontHH1, .default.fontHH1 {font-size:50px; line-height:50px}
h1, .fontH1, .default.fontH1{font-size:32px; line-height:32px}
h2, .fontH2, .default.fontH2{font-size:24px; line-height:30px}
h3, .fontH3, .default.fontH3{font-size:20px; line-height:24px}
.fontH4, .fontH5, .default.fontH4, .default.fontH5{font-size:18px; line-height:22px}
.fontH6, .default.fontH6{font-size: 16px; line-height:22px}
.fontH7, .default.fontH7{font-size: 14px; line-height:18px}