.utility-menu .link-arrow{background: url(../../i/patterns/s-utility-menu-arrows.jpg) transparent  no-repeat right 8px; padding-right: 13px;}
.utility-menu a.link-arrow:hover{background-position: right -8px;}
.utility-menu{position: relative; clear: both; line-height: 18px; margin: 0 auto; width: 1000px;font-size: 13px;}
.utility-menu a, .utility-menu a:visited{color: #767676; text-decoration: none; display: inline-block;}
.utility-menu a.dis, .utility-menu a.dis:visited, .utility-menu a.dis:hover{color: #CCCCCC; cursor: default;}
.utility-menu a:hover, .utility-menu a.over{text-decoration: none; color: #007DBA}
.utility-menu .separ{padding: 0 9px; color: #CCCCCC;}
.utility-menu ul{float:right;margin: 3px 35px 0 0; padding: 0; list-style-type: none;}
.utility-menu ul li{display: inline-block; position: relative; *float: left;display: inline\0/;}

/*Utility Menu Popup*/
.utility-menu-popup{position: absolute; left: 0; top: 20px; background-color: #FFFFFF; border: 1px solid #CCCCCC;}
.utility-menu-popup ul {margin: 6px 14px; float: none;}
.utility-menu-popup ul li {border-bottom: 1px solid #CCCCCC; display: block; *float: none;}
.utility-menu-popup ul li.lstchild{border-bottom: none;}
.utility-menu-popup a, .utility-menu-popup a:visited{color: #007DBA; display: inline-block; padding: 7px 0; font-size:13px; line-height: 15px; }
.utility-menu-popup a:hover{text-decoration: underline;}
.utility-menu-popup a.dis:hover{text-decoration: none;}

/*Sign-in List Popup*/
.sign-in-list{width: 165px; right: 0; left:auto;}

/*Language Popup*/
.language{width: auto;}

/*Live Chat Popup*/
.live-chat{width: 165px;}
.live-chat a, .live-chat a:visited, .live-chat a:hover{color: #767676; text-decoration: none; cursor: default;}

/*Signon popup*/
.signon_popup{width: 290px; right: 0; left:auto; font-size: 12px;line-height: 12px; color: #666666;}
.signon_popup form{margin: 0;}
.signon_popup .content{border-bottom: 1px solid #CCCCCC; margin: 0 14px;}


.signon_popup .content .label{font-size: 12px; line-height: 16px; padding-top: 10px; display: inline-block;  color: #666666}
.signon_popup .form-input, .signon_popup .form-input-disabled, .signon_popup .form-input-error {
    display: inline-block;
    font-family:"HPSimplified",Arial;
    height: 33px;
    width: 240px;
    line-height: 33px;
    _height: 36px;
    padding: 0 10px;
    font-size: 14px;
    color: #000;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.signon_popup .form-input:hover, .signon_popup .form-input:focus {color: #000; border-color: #5A5A5A}
.signon_popup .form-input-disabled {color: #b3b3b3; background: #e5e5e5; border-color: #ccc}
.signon_popup .form-input-error, .signon_popup .form-input-error:hover, .signon_popup .form-input-error:focus {border-color: #ff0000; color:#ff0000}

.signon_popup a {font-size: 12px;line-height: 12px;padding: 6px 0;}

.signon_popup .login-btn{border-radius: 0 4px 0 4px;padding: 0 25px;display: inline-block;}
.signon_popup .login-btn, .signon_popup .login-btn input {background-color: #0096D6;color: #FFFFFF;cursor: pointer;border: none;font-weight: bold;text-transform: none;font-size: 14px;}
.signon_popup .login-btn:hover, .signon_popup .login-btn:hover input{background-color: #006699;text-decoration: none;color: #FFFFFF;}
.signon_popup .login-btn input {font-family: "HPSimplified",Arial;height: 30px;padding: 0;}
.signon_popup .login-btn{float: right;}
.signon_popup .login-btn-container{padding: 4px 0 20px; *overflow: hidden;}

.signon_popup .footer{margin: 0 14px 23px;}
.signon_popup .footer span {display: inline-block;}
.signon_popup .footer a{padding-left: 3px; padding-bottom: 0;}