/*start video common styles*/
.videoitem{
    display: inline-block;
    position: relative;
}
.videoitem p{
    font-size: 14px;
    line-height: 18px;
}
.video-title{
    display: block;
    margin-top: 5px;
    color: #767676;
    
}

.video-header{
    display: block;
    margin-top: 20px;
    color: #000;
    font-weight: bold;
}
.videoitem .video-time{
    margin: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 4px 0 0;
    background-color: #000000;
    opacity: 0.9;
    padding: 4px 8px;
}
.video-thumbnail {
    position: relative;
}
.video-thumbnail .play {
    position: absolute;
    text-indent: -9999px;
    display: block;
    background: url(../../i/common/s-video-icons.png) no-repeat scroll 0 0 transparent;
}
.video-thumbnail img{
    border: 1px solid #cccccc;
    overflow: hidden;
}
.video-time span{
    display: inline-block;
}
.video-meta{color:#767676;}
/*end video common styles*/

/*start video_mini*/
.video_mini .play {
    height: 18px;
    width: 24px;
    left: 19px;
    top: 12px;
}
.video_mini .video-title,
.video_mini .video-meta{margin-left: 73px;}
.video_mini .video-thumbnail{
    float:left;
}
.video_mini .video-thumbnail img{
    width: 61px;
    height: 42px;
}
/*end video_mini*/


 /*start video small*/
.video_small .play {
    height: 18px;
    width: 24px;
    top: 20px;
    left: 38px;
}
.video_small .video-thumbnail{
    float:left;
}
.video_small .video-title{margin-left: 111px;}
.video_small .video-time {
    font-size: 11px;
    line-height: 16px;
    padding: 1px 4px;
}
.video_small .video-thumbnail img{
    width: 101px;
    height: 56px;
}
/*end video small*/

/*start video_medium*/
.video_medium .play {
    background-position: 0 -38px;
    height: 36px;
    width: 48px;
    top: 47px;
    left: 88px;
}
.video_medium .video-thumbnail{
    width:228px;
    height:132px;
}
.video_medium .video-thumbnail img{
    width: 226px;
    height: 130px;
}
/* end video_medium*/

/*start video_re_medium*/
.video_re_medium .play {
    background-position: 0 -38px;
    height: 36px;
    width: 48px;
    top: 41px;
    left: 66px;
}
.video_re_medium .video-thumbnail{
    width:180px;
    height:120px;
}
.video_re_medium .video-thumbnail img{
    width: 178px;
    height: 118px;
}
/* end video_re_medium*/



/*start video_large*/
.video_large .play {
    background-position: 0 -38px;
    height: 36px;
    width: 48px;
    left: 123px;
    top: 66px;
}
.video_large .video-thumbnail{
    width:295px;
    height:168px;
}
.video_large .video-thumbnail img{
    width: 293px;
    height: 166px;
}
/*end video_large*/

/*start video_xlarge*/
.video_xlarge .play {
    background-position: 0 -38px;
    height: 36px;
    width: 48px;
    left: 201px;
    top: 110px;
}
.video_xlarge .video-thumbnail{
    width:453px;
    height:258px;
}
.video_xlarge .video-thumbnail img{
    width: 451px;
    height: 256px;
}
/*end video_large*/

/*start video_x_large*/
.video_x_large .play {
    background-position: 0 -93px;
    height: 55px;
    width: 80px;
    left: 280px;
    right: auto;
    top: 153px;
}
.video_x_large .video-thumbnail{
    width:640px;
    height:360px;
}
.video_x_large .video-thumbnail img{
    width:638px;
    height:358px;
}
.video_x_large .video-title{
    margin-top: 5px;
    color:#000
}
.video_x_large .video-poster{
    position: absolute;
    top:0;
    left: 0;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
}
/*end video_x_large*/


/*start preloader styles*/
.cs_spooler { position: absolute; top: 0; left: 0;}
.cs_spooler div {
    background: url(../../i/common/i-pre-lg-hpe.gif) no-repeat scroll 0 0 transparent;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    width: 60px;
}
/*end preloader styles*/

/* start common*/
.videoitem .video_title_bottom {
    clear: both;
    margin-top: 0;
    margin-left: 0;
    padding-top: 5px;
}
/* end common*/