/*REGULAR*/
	@font-face{
      font-family: 'HPSimplified';
      src: url(../fonts/v1-1/hps-euro-regular-eot.eot); /* IE9 compat */	 
	  src: url(../fonts/v1-1/hps-euro-regular-eot.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */	
	   /* non-IE */ 
	   url('../fonts/v1-1/hps-euro-regular-woff.woff') format('woff'), /*IE9 and some modern browsers*/ 
	   url('../fonts/v1-1/hps-euro-regular-ttf.ttf') format('truetype'); /*iOS, Android, Safari*/
	  	  
	  font-weight: normal;
	  font-style: normal;
}
	/*BOLD*/
	@font-face{
	   font-family: 'HPSimplified';
       src: url(../fonts/v1-1/hps-euro-bold-eot.eot); /* IE9 compat */	 
	   src: url(../fonts/v1-1/hps-euro-bold-eot.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */	
	   /* non-IE */ 
	   url('../fonts/v1-1/hps-euro-bold-woff.woff') format('woff'), /*IE9 and some modern browsers*/ 
	   url('../fonts/v1-1/hps-euro-bold-ttf.ttf') format('truetype'); /*iOS, Android, Safari*/
	  	  
	  font-weight: bold;
	  font-style: normal;
}

body {font-family: HPSimplified, PMingLiU;}	


}