body{height:100%;margin:0;padding:0;background-color: #F2F2F2;}
.everything {background-color: white; *zoom:1;}

.header, .footer { font-family: HPSimplified, Arial;clear:both; width:100%}
.header a, .footer a {text-decoration:none;}
.footer a:visited {color:#5a5a5a}
.header ul, .footer ul{list-style-type:none;}
.header p, .footer p, .footer h3, .footer h4, .header h4, .header ul, .footer ul{margin:0;padding:0;}


.hf_rlv{position: relative}
.hf_clf:after{clear: both; content: '.'; display: block; height: 0; line-height: 0; visibility: hidden;}
.hf_clf{display: inline-block;display: block\9;}
html .hf_clf{display: block;}
* html .hf_clf{height: 1%;}
.header .screenReading, .footer .screenReading{font-size:0; height:0; overflow:hidden; position:absolute; width:0; opacity:0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.header a.screenReading,.footer a.screenReading {font-size:1px !important; position:static; max-width: 0; }}  /*fix for skip links in Chrome*/
.hidden{display: none; visibility: hidden;}
/*.header .printable, .footer .printable {display: none;} */
/* ---------------------- */

.header{height: 72px; padding: 0;margin:0; width: 100%;background-color: #0096D6;}
.header_container{margin:0 auto;font-size: 10px; width:1000px;}
.footer_lang_container {background: white;}
.footer_lang_section {margin: 0 auto; padding: 17px 0px 18px 0; width: 1000px;}
.footer_container{background-color: #f2f2f2;width:100%}

/*HP logo*/
.header .hp_logo{float: left;}
.header .hp_logo a.hf_logo{display: block;margin: 11px 0 0px 9px;}
.header .hp_logo a.hf_logo img{border: 0 none; width:50px;height:50px}
.header .hp_logo_pub {background-image:url(../../i/header-footer/caas-hf-v3/hp-logo.gif)}

.header .searchSubmit, .header .top_corner,.header .shopping_icon,
.worldmap .bottom_corner, .footer .hf.close, .footer .worldmap a.cselectorbtn,
.hdr_widgets li.nav_button a#shop_widget, .shop_widget .shop_top_arrow  /* these 2 are temp for current shopping cart */
{background: url(../../i/header-footer/caas-hf-v3/s-hf-v3.gif) no-repeat;}
.header .top_corner{background-position: -188px -1px;width: 17px; height: 12px;position:absolute; top:-12px;}
.primary_nav .expand_area .top_corner{left:11px;}
*+html .primary_nav .expand_area .top_corner{top:-12px;}
@media \0screen {.primary_nav .expand_area .top_corner{top:-12px;}}
.shop_widget .top_corner {right: 7px;}
.shopping_widget .sc_tabs .top_corner {background-position: -188px -34px}


/* Search form*/
.hdr_widgets, .hdr_widgets .hdr_buttons {float:right;}
.hdr_widgets {position: relative; z-index: 10;margin-right:18px;}
/* Search form*/
.hdr_widgets .search_block {float: left; margin: 23px 0 0;}
.header .search_container_inactive{position: absolute; left:0; _width: 223px;}
.header .search_container_active{position: absolute; border: 2px solid #CCCCCC; z-index: 21; right: -2px; top: 21px;}
.header .searchBox,.header .searchSubmit{ border:0px; float: left;margin: 0; padding:0; height: 25px;}
.header .searchBox { font: 14px HPSimplified, Arial;  height: 20px; padding:3px 0 2px 10px;  *padding:2px 0 3px 10px; margin: 0;  width: 186px; color: #767676;}
@media \0screen {.header .searchBox {padding:2px 0 3px 10px;}} /*IE8 hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {.header .searchBox {padding:2px 0 3px 10px;}} /*Chrome*/
.header .sb_no_widgets .searchBox { width: 220px;}
.header .searchBox:focus{color:#000;}
.header .searchSubmit { background-position: -88px 1px; background-color: #FFFFFF; height: 25px; width: 27px; padding-right: 5px;  cursor: pointer;}



/*Primary navigation*/
.primary_nav{float: left; width: auto;}
.primary_nav .level2{display: block; width: auto;}
.primary_nav .level2 li{float: left; margin-top:28px; margin-left: 35px; z-index: 15}
.primary_nav .level2 li a.header_link{font-weight: bold; font-size: 16px;line-height:16px}
.primary_nav .level2 li.empty a.header_link:hover{text-decoration: underline;}
.primary_nav .level2 li a,
.primary_nav .level2 li a:visited{color: #000; display: block;}
.primary_nav .level2 li a.header_link,
.primary_nav .level2 li a.header_link:visited,
.primary_nav .level2 li a.header_link:hover,
.primary_nav .level2 li a.header_link:active,
.primary_nav .level2 li a.header_link:focus,
.primary_nav .level2 li.selected a.header_link{color: #FFFFFF;}

.primary_nav .expand_area {
    font-size: 14px; line-height: 18px; display: none; position: absolute; width: auto; z-index: 11;
    background: #fff; border:2px solid #ccc; border-bottom: 3px #0096d6 solid; margin-left:2px; margin-top:18px;
}
.primary_nav .expand_area .menu li{display: block; position:static;width: 100%; height: auto; padding:4px 0px; margin:0px 0px 9px 0px;}
.primary_nav .expand_area .menu li a{margin:0 20px;}
.primary_nav .expand_area .menu li a:hover{color: #007DBA}
.primary_nav .expand_area .menu li a:focus{color: #000000}
.primary_nav .expand_area .level3,
.primary_nav .expand_area .level4{width: 251px; height: auto; padding-top: 11px;padding-bottom:8px}
.primary_nav .expand_area .level4{padding-top: 12px;}
.primary_nav .expand_area .level3 { display: inline-block; float: left; width: 250px;}
.primary_nav .expand_area .level4 .menu li{ padding:0; margin:3px 0;}
.primary_nav .expand_area .level4 .menu li.lstchild{ margin-bottom: 10px;}
.primary_nav .expand_area p {padding:10px 18px 8px 18px;font-weight: bold; cursor:text; color:#000;}
.primary_nav .extend_expandable_area .level3 .menu li.selected{background: #0096d6;}
.primary_nav .extend_expandable_area .level3 .menu li.selected a{color:#fff; outline: none;}
.primary_nav .expand_area .shadow_divider{display: none; width: 1px;  background: transparent; position:absolute; left:250px; top:20px; bottom:24px;}
.primary_nav .expand_area .level4 .menu,
.primary_nav .expand_area .level4{display: none;}
.primary_nav .extend_expandable_area .level4,
.primary_nav .extend_expandable_area .shadow_divider{display: block; float: left;}
.primary_nav .extend_expandable_area .shadow_divider{background: #ccc;}
.primary_nav .expand_area .menu .separator{margin: 4px 20px 2px; border-top:1px solid #ccc;}
.primary_nav .expand_area .level4 .menu .separator{margin: 15px 20px 13px}
.primary_nav .extend_expandable_area{*width: 501px} /*for jQuery*/

/**HEADER NAV BUTTONS & WIDGETS*/

.hdr_widgets .nav_buttons {margin: 23px 0 0 0;}
.hdr_widgets li.nav_button{position: relative; float: left; display: inline-block;_display: inline; _zoom:1; z-index: 1;}
.hdr_widgets img{border: 0 none;}

/* Shopping widget*/
.hdr_widgets li.shopping_widget {padding-left: 9px;_display: inline;}
.hdr_widgets .shopping_icon {width: 25px; height:25px; display: block;}
.hdr_widgets li.nav_button a.shopping_icon{ background-position: -133px 0;}
.hdr_widgets li.nav_button a.shopping_icon:hover,
.hdr_widgets li.nav_button a.shopping_icon:focus,
.hdr_widgets li.nav_button a.shopping_icon.shopping_over{background-position: -133px -46px; }
.shopping_widget .item_count{ position: absolute; background-color: #FF0000; color: #FFF; font-size: 10px;font-weight: bold;
    border-radius: 0 3px;-moz-border-radius: 0 3px;padding:0px 3px;line-height: 14px; bottom: -8px; left: 6px; display: inline-block;}
@media \0screen {.shopping_widget .item_count {padding-bottom: 1px; line-height: 13px;}}     /*ie8*/

.hdr_widgets .widget{display: none; height: auto; position: absolute;color: #666; background: #FFF; border: 2px solid #CCCCCC;}
.hdr_widgets .widget a,
.hdr_widgets .widget a:hover,
.hdr_widgets .widget a:visited,
.hdr_widgets .widget a:active{color: #007DBA; font-size: 13px;}
.hdr_widgets .widget a:hover{text-decoration: underline; zoom:1;}
.hdr_widgets .widget .widget_h h4{color: #000000; font-size: 14px; font-weight: bold; line-height: 14px;}
.hdr_widgets .shop_widget {top: 40px;width: 309px;}
.hdr_widgets .shop_widget .widget_h {padding: 20px 20px 10px;}

/* empty shopping cart*/
.shop_widget .widget_content{padding: 16px 20px;}
.shop_widget .widget_content p{color: #000000;font-size: 14px;line-height: 14px;}
.shop_widget .storeLinks{padding-top:15px;}
.shop_widget .storeLinks li{line-height: 17px;font-size:10px}
/*Shopping buttons*/                                                /*TBD*/
.widget .widget_content a.sc_button{padding: 0 8px; height:26px;margin: 16px 0 0; display: inline-block; font-size: 10px; -moz-border-radius: 0 4px; border-radius: 0 4px;}
.widget .widget_content a.sc_button {background-color: #D7410B;color: #fff;}
.widget .widget_content a.sc_button:hover {background-color: #C1401A;}
.widget .widget_content a.sc_button .btn_label {line-height: 25px; font-size: 13px; font-weight: bold;}
.widget .widget_content .sc_button:visited .btn_label{color: #ffffff;}
.widget .widget_content a.sc_button:hover,
.widget .widget_content a.sc_button:active,
.widget .widget_content a.sc_button:focus,
.widget .widget_content a.sc_button:visited{text-decoration: none;}
.shop_widget .paypal{ background: url(../../i/header-footer/i-btn-xpress-checkout-hpe.gif) no-repeat scroll 0 0 transparent;
    width: 145px; height: 24px; line-height: 26px; *line-height: 16px;  display: inline-block; text-decoration: none;}
.shop_widget .paypal:hover{text-decoration: none;}

/*shopping cart  */
.shop_widget .widget_content .goods li {line-height: 14px; border-bottom: #CCCCCC solid 1px; padding-bottom: 12px; padding-top: 8px; _position:relative;}
.shop_widget .widget_content li.fst{padding-top: 0;}
.shop_widget .widget_content .goods li .good{display: block; *display: inline-block; position: relative;}
.shop_widget .widget_content .sec_header{display: block; _display: inline-block; padding-bottom: 6px; font-size: 14px;color: #000000;}
.shop_widget .widget_content .sec_header a,
.shop_widget .widget_content .sec_header a:visited{width: 205px; _width:200px; *width:200px;word-wrap: break-word; display: inline-block;color: #000000; }
.shop_widget .widget_content .sec_header .title{line-height: 16px;float:left; font-size: 14px}
.shop_widget .widget_content .price{display: inline-block;font-weight: bold;float:right;line-height:16px}
.shop_widget .widget_content .sec_footer{display: block; _display:inline-block; position: relative; clear:both}
.shop_widget .widget_content .sec_footer .remove{font-size: 12px;display: inline-block;}
.shop_widget .widget_content .total{color: #000000; font-size: 12px;position: absolute;right: 0;}
.shop_widget .widget_content .total .total_number{padding-left: 5px;display: inline-block;}
.shop_widget .widget_content .shop_footer{ padding-top: 17px;font-size: 14px; color: #000000; position: relative; _display:inline-block; }
.shop_widget .widget_content .shop_footer a,
.shop_widget .widget_content .shop_footer a:visited {font-size: 14px;display: inline-block;}
.shop_widget .widget_content .shop_footer .calculator{padding-top: 18px;}
.shop_widget .widget_content .shop_footer .item{line-height: 14px; padding-top: 5px; display: block;}
.shop_widget .widget_content .shop_footer .item span {float:left}
.shop_widget .widget_content .shop_footer .item span.price {float:right}
.shop_widget .widget_content .shop_footer .red{color: #D7410B;}
.shop_widget .widget_content .shop_footer span{display: inline-block}
.shop_widget .widget_content .image{ width: 50px; display: inline-block; position: absolute; top:0; left: 0;}
.shop_widget .widget_content .description_with_image{padding-left: 62px;}
.shop_widget .widget_content .divider{font-size: 14px; font-weight: bold; color: #000000; padding: 0 19px; display: inline-block;}

/* Shopping cart with tabs*/
.hdr_widgets .sc_tabs{width: 384px;background-color: #F2F2F2}
.shop_widget .tabs{display: block; padding-top: 7px;}
.shop_widget .tabs .tabs_wrapper{*display: inline-block;}
.shop_widget .tabs .tabs_wrapper .tab_trigger{ border-top: 1px solid #F2F2F2; border-bottom: 1px solid #CCCCCC; border-right: none;background-color: #F2F2F2;
    height: 36px; display: inline-block; *float: left; width: 49.8%; _position: relative; _top: 1px; }
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {.shop_widget .tabs .tabs_wrapper .tab_trigger {width: 191px;}} /*Opera11*/
.shop_widget .tabs .tabs_wrapper .current a:hover {color: #000000;text-decoration: none;}
.shop_widget .tabs .tabs_wrapper .current{ border-top: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-right: none; border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF; border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0; -moz-border-radius: 4px 0 0 0;  }
.shop_widget .tabs .tabs_wrapper .current_fst{ border-right: 1px solid #CCCCCC; border-left: none;
    border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0;  -moz-border-radius: 0 4px 0 0; }

.shop_widget .tabs .tabs_wrapper a,
.shop_widget .tabs .tabs_wrapper a:link{ color: #5A5A5A; padding: 11px 6px 8px 20px; font-size: 14px; font-weight: bold;float: left;}
.shop_widget .tabs .tabs_wrapper a:visited{color: #5A5A5A;}
.shop_widget .tabs .tabs_wrapper a:hover {color: #5A5A5A;text-decoration: underline;}
.shop_widget .tabs .tabs_wrapper .current a {color: #000000;}
.shop_widget .tabs .tabs_wrapper .disabled a,
.shop_widget .tabs .tabs_wrapper .disabled a:hover{color: #CCCCCC; cursor: default; text-decoration: none; }
.shop_widget .tabs .tabs_wrapper .item_num{font-size: 12px;float: left;padding-top: 10px;}
.shopping_widget .tab_content {background-color: white}




/*FOOTER*/
.footer{ width: 100%; margin: 0; background: #f2f2f2; zoom:1}
/* Legal and Privacy links */
.footer .legal_privacy_links{text-align: center;color:#5a5a5a;font-size: 14px;}
.footer .legal_privacy_links a, .footer .legal_privacy_links a:link, .footer .legal_privacy_links a:visited{color:#5a5a5a;}
.footer .legal_privacy_links a:hover{text-decoration: underline}

.footer .privacy_links{margin: 0px auto; padding-top: 4px; text-align: center;font-size: 14px;color:#5a5a5a}
.privacy_links a,.privacy_links a:link,.privacy_links a:visited, .privacy_links a:active {color:#5a5a5a;}
.privacy_links li{display: inline-block;  }
.privacy_links .lstchild span {display:none}
.privacy_links a:hover {text-decoration: underline}
.hf_separ {color:#767676;font-size:14px;padding:0 8px; display: inline-block;}
.legal_links {padding-top:5px}

/** Country selector -  Country selector trigger  */

a.cselector:hover .selectedCountry{text-decoration: underline;}

.js_worldmap_wrapper{height: 0; overflow: hidden;}
/*.popup_box{position: relative; float: right;}
span.dotted_left{
    background-color:transparent;
    border-left:1px dotted #000;
    width:1px;
    margin-top: 10px;
    margin-right:4px;
}   */
a.css_cselect_linc:hover, a.css_cselect_linc:focus{color:#f4f4f4; text-decoration: underline;}
.cselector:hover .country_name{color: #fff; text-decoration: underline;}


/** Country selector - Worldmap   */
.worldmap{ top:-473px; width:944px; height:470px; background:transparent url(../../i/header-footer/i-cselector-worldmap-hpe.gif) repeat scroll 0 0; overflow:visible; position: absolute; right:18px; border: 2px solid #ccc; z-index:54; }
.worldmap .country_holder{float: left; padding: 52px 17px 52px 20px; *float:none; }
.worldmap .country_holder ul{width:115px; position: relative; float: left;margin-right:17px;}
.worldmap .country_holder ul li{padding-bottom: 5px}
.worldmap .country_holder ul.ul_lst{margin-right:0px} /*IE6 fix*/
.worldmap .country_holder li a{font-size: 13px;}
.worldmap li a:hover, .worldmap li a:focus {text-decoration: underline}
.worldmap .bottom_corner{ width:17px;height:14px; position:absolute; bottom:-14px; _bottom: -19px; left:14px;background-position: -188px -101px}

         /**********/
/* Country selector */

div.visible{display: block; visibility: visible;}
.footer .world_map{ /*margin:0 auto;*/ *float: left; /*width: 0;*/}
.footer .cs-container, .footer .home_link{float:left}
.footer .cs-container {padding-left:18px}
.footer .cselector_wrapper{float: left;position:relative;  *position: static; z-index: 10;}
.footer .worldmap_wrapper{position: absolute;left:0}
.footer .cntr_map{float:left; _display: inline; _zoom:1;}
.footer .cselector_wrapper a, .footer .cselector_wrapper a:link {color:#000; /*text-align: right;*/}
.footer .cselector_wrapper, .footer .worldmap_wrapper{*display: inline; *zoom:1}
.footer .cselector span.map {background:transparent url(../../i/common/i-pre-lg-hpe.gif) no-repeat;}
.footer a.cselector:hover .selectedCountry{text-decoration: underline;}
.footer .cselector span{display: inline-block;cursor: pointer;font-size: 14px;color:#5A5A5A;}
.footer .cselector span.flag{ width:16px; /* height:29px; line-height: 29px;*/ padding: 0 8px 0 0px; background:url(../../i/footer/flag.png) transparent no-repeat left center;}
/*.footer .popup_box{position: relative; float: left;} */

 /* Country selector with worldmap icon*/
.footer .hf-worldmap .cselector span.flag{ width:35px; height: 24px; background-image:url(../../i/footer/world-map-hpe.gif);}
.footer .hf-worldmap .cselector span{line-height: 24px;}
.footer .hf-worldmap .cntr_map{margin-top: -2px;}

/* Country selector - Worldmap   */

.footer .worldmap{ top:-490px; width:944px; height:470px; background:transparent url(../../i/header-footer/i-cselector-worldmap-hpe.gif) repeat scroll 0 0; overflow:visible; position: absolute; left:0; border: 2px solid #ccc; z-index:54; }
.footer .worldmap .country_holder{float: left; padding: 42px 17px 0px 20px; *float:none;font-size:10px }
.footer .worldmap .country_holder ul{width:115px; float: left;margin-right:17px;}
.footer .worldmap .country_holder ul li{padding-bottom: 5px; text-align: left}
.footer .worldmap .country_holder ul.ul_lst{margin-right:0px}
.footer .worldmap .country_holder li a, .footer .worldmap .country_holder li a:link{font-size: 13px;color: #000;line-height:20px}
.footer .worldmap li a:hover, .footer .worldmap li a:focus {color: #000;text-decoration: underline}
.footer .worldmap .hf_bottom_arrow{ width:17px;height:14px; position:absolute; bottom:-14px; left:14px; background-position: -320px -101px; }
.footer .worldmap a.cselectorbtn{ background-position:-236px -10px; width:17px;height:17px;top:10px;right:10px; position:absolute; display:block; }
.footer .worldmap a.cselectorbtn:hover{background-position: -236px -65px}

/* Spooler      */
.footer .wait_class {display: none; position: absolute; top: 0; left: 0; }
.footer .wait_class div, .footer #cs_spooler div/*, #cw_spooler div */{ background: url(../../i/common/i-pre-lg-hpe.gif) no-repeat scroll 0 0 transparent;
    height: 60px; width: 60px; margin-left: auto; margin-right: auto; position: relative; top: 0; }
.footer .wait_class.active {display: block;}
/*
#cw_spooler, #cw_spooler div {position: static; display: block;}
*/
.footer #cs_spooler { width: 1000px !important; top: -257px; opacity:1; z-index:53; position: absolute; }


/* Site Links*/
.footer .site_links {margin:0 auto; padding:20px 0px 40px; /*position:relative;*/ width:1000px;margin-bottom:24px; border-bottom: 1px solid #898888;}
.footer .site_links .site_links_container {display: inline-block; width:209px; padding: 0 38px 0px 0;vertical-align: top;text-align:left;  *display: inline; *zoom: 1;}
.footer .site_links .site_links_middle {width: 500px; text-align: center; vertical-align: top; display: inline-block;  *display: inline; *zoom: 1;}
.footer .site_links div.fstchild{padding-left: 18px;}
.footer .site_links div.lstchild{padding-right: 18px;}
.footer .site_links ul.ul_media_links li{display: inline-block; padding-top: 12px;line-height:0 }
.footer .site_links ul.ul_media_links li a{display: inline-block;}
.footer .ul_site_links {line-height:0}
.footer .ul_site_links li.first_li{padding-bottom: 3px;}
.footer .site_links  a{font-size:15px;line-height:21px;text-decoration:none}
.footer .site_links a,
.footer .site_links a:link,
.footer .site_links a:hover,
.footer .site_links a:visited,
.footer .site_links span.heading{color: #5a5a5a;}
.footer .site_links a:hover {text-decoration: underline;}
.footer .site_links ul.ul_site_links li.first_li a, .footer .site_links span.heading {font-size:14px; font-weight: bold;line-height:23px}



/* Social Media */
/*.wdt_144 {width:144px;} */
/*.hf_dib {display: inline-block} */
ul.footer_media_links{padding:0; padding-bottom: 5px}
.footer_media_links li{ display:inline-block; padding-top:0}
.footer_media_links li, .footer_media_links li a, .footer .site_links ul.ul_media_links li, /*.hf_dib,*/
.privacy_links li {*display:inline}





/* Spooler */
.footer .wait_class {display: none; position: absolute; top: 0;left: 0;}
.footer .wait_class div, .footer  #cs_spooler div {
    background: url(../../i/common/i-pre-lg-hpe.gif) no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
}
.footer .wait_class.active {display: block;}
/*
#cw_spooler {position: static; display: block;}
#cw_spooler div {
    background: url(../../i/common/i-pre-lg-hpe.gif) no-repeat scroll 0 0 transparent;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    display: block;
} */
.footer #cs_spooler {top: -257px;opacity:1;z-index:53;position: absolute;}

.footer .home_link a{ font-size: 14px; /*line-height: 30px; */color: #5A5A5A;}
.footer .home_link a:visited{color: #5A5A5A;}
.footer .home_link a:hover{text-decoration: underline;}

.footer .copyright{padding-top: 4px; }

.footer .mobile_view{padding-top: 10px; }

.footer .cunsumer_guarantees{color: #5A5A5A; padding-top: 4px;}
.footer .cunsumer_guarantees a{display: inline-block;}


.hp_employees_container {
    font-size: 14px;
    margin: 19px auto 26px;
    padding: 0 18px;
    width: 964px;
    height: 20px;
}
.footer .hp_employees_container a,  .footer .hp_employees_container a:visited{color: #5A5A5A;}
.footer .hp_employees_container a:hover{text-decoration: underline}


/*Footer Small Icons*/
.footer .ul_media_links a, .footer .ul_media_links a:link{width:15px; height:15px;  margin-right: 8px;}
.footer .ul_media_links a:hover{text-decoration: none}
.footer .icn_twt, .footer .icn_fcb, .footer .icn_ytb, .footer .icn_sm_lkn, .footer .icn_sna_wbo,
.footer .icn_sm_inst, .footer .icn_vk, .footer .icn_sbd, .footer .icn_sm_ssh, 
.footer .icn_flk, .footer .icn_sm_msp {background: url(../../i/common/s-social-hpe.png) transparent no-repeat scroll;
    _background-image: url(../../i/common/s-social-ie6-hpe.gif);}
.footer .icn_fcb{background-position: 0 0}             /*facebook*/
.footer .icn_twt{background-position: 0 -30px}         /*twitter */
.footer .icn_sm_lkn{background-position: 0 -177px;}    /*linkedin*/
.footer .icn_ytb{background-position: 0 -297px;}       /*youtube */
.footer .icn_sna_wbo{background-position: 0 -1286px;}  /*Sina weibo*/
.footer .icn_sm_inst {background-position: 0 -1956px;} /*instagram*/
.footer .icn_vk {background-position: 0 -1837px;}      /*v kontakte*/
.footer .icn_sbd {background-position: 0 -237px}       /*scribble */
.footer .icn_sm_ssh {background-position: 0 -207px}    /*slideshare */
.footer .icn_flk {background-position: 0 -147px}       /*flickr */
.footer .icn_sm_msp {background-position: 0 -2075px}   /*Myspace */
.footer .icn_sna_blg {background-position: 0 0px}                           /*TBD*/
.footer .icn_yku {background-position: 0 0px}          /*Sina youku*/       /*TBD*/
.footer .icn_blog {background: url(../../i/common/s-15px-hpe.png) transparent no-repeat scroll;
    _background-image: url(../../i/common/s-15px-ie6-hpe.gif);}
.footer .icn_blog {background-position: 0 -2057px}  /*blog*/


/* autocomplete*/
.ac_results {padding: 0 0 20px 0;  border: 2px solid #ccc; border-top-width: 0; background-color: #fff; overflow: hidden; z-index: 21; font-family: HPSimplified, Arial; top: 25px; left: -2px; position: absolute;}
.ac_results ul { list-style-position: outside; list-style: none; padding: 0; margin: 0;}
.ac_results li { position: relative; margin: 0; padding: 0; cursor: pointer; display: block; overflow: hidden;}
.ac_results a,.ac_results a:link { text-decoration: none; font: 14px HPSimplified, Arial; line-height:18px; color: #000; width: 100%; display: block; margin: 0; padding: 3px 10px; height:auto; width: auto; _position: relative;}
.ac_results a:visited{color: #000000;}
.ac_results a:active {text-decoration: none; color: #FFFFFF;}
.ac_results a:focus{color: #FFFFFF;}
.ac_results a.ac_focus, .ac_results a.focus {background-color: #0096D6; color: #FFFFFF;}
.ac_results a span{color: #767676;}
.ac_results a.ac_focus span{color: #FFFFFF;}


/* current shopping cart */
.shop_widget .widget_h {display:none}
.shopping_cart, .basket, .cart-container {font-size:14px; color:#000;line-height:20px}
.cart-container .no_items {line-height:14px}
.shopping_cart .cart_text {padding-bottom:10px;font-weight:bold}
.hdr_widgets .widget .checkout_btn {padding: 5px 0}
.hdr_widgets .widget .checkout_btn a {font-size:14px}
.shop_widget .widget_content .basket .price {line-height:20px}
.shop_widget {visibility: visible !important}
.hdr_widgets #shop_widget {width: 25px; height:25px; display: block;}
/* .hdr_widgets li.nav_button a#shop_widget, .shop_widget .shop_top_arrow {background: url(../../i/header-footer/caas-hf-v3/s-hf-v3.gif) no-repeat;}*/
.hdr_widgets li.nav_button a#shop_widget{ background-position: -133px 0;}
.hdr_widgets li.nav_button a#shop_widget:hover,
.hdr_widgets li.nav_button a#shop_widget.shopping_over{background-position: -133px -46px; }
.shop_widget .shop_top_arrow {right: 7px; background-position: -188px -1px; height: 12px; position: absolute; top: -12px; width: 17px}